MODE=your_mode

DB_HOST=example_host
DB_PORT=example_port
DB_USER=example_user
DB_PASS=example_pass
DB_NAME=example_name

TEST_DB_HOST=example_host
TEST_DB_PORT=example_port
TEST_DB_USER=example_user
TEST_DB_PASS=example_pass
TEST_DB_NAME=example_name

SECRET_KEY_ACCESS=example_key
SECRET_KEY_REFRESH=example_key
ALGORITHM=example_algorithm


ACCESS_TIME_TOKEN=example_time
REFRESH_TOKEN_EXPIRATION=example_time
