MODE=your_mode

DATABASE_URL=your_url
TEST_DATABASE_URL=your_url
ALEMBIC_DATABASE_URL=your_url

SECRET_KEY_ACCESS=example_key
SECRET_KEY_REFRESH=example_key
ALGORITHM=example_algorithm

POSTGRES_USER=your name
POSTGRES_PASSWORD=secret
POSTGRES_DB=your database

ACCESS_TIME_TOKEN=example_time
REFRESH_TOKEN_EXPIRATION=example_time
